body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh 80vh;
}

.sidebar {
    background-color: lightblue;
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    background-color: rosybrown;
    grid-column: 2/3;
    grid-row: 1/2;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
}

li {
    list-style: none;
}

li>img {
    height: 1rem;
}